:root {
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;

    --black: #000000;
    --white: #ffffff;

    --transform: scale(1.2);
    --transition: all 500ms ease;
}