<header class="header--container">
  <span class="logo">logo</span>

  <nav class="header--nav">
    <li class="header__nav--list active">
      <a class="header__nav--link" href="#">Home</a>
    </li>
    <li class="header__nav--list">
      <a class="header__nav--link" href="#">About us</a>
    </li>
    <li class="header__nav--list">
      <a class="header__nav--link" href="#">Portfolio</a>
    </li>
    <li class="header__nav--list">
      <a class="header__nav--link" href="#">News</a>
    </li>
    <li class="header__nav--list">
      <a class="header__nav--link btn--header" href="#">Contact us</a>
    </li>
  </nav>
</header>
