<section class="features__wrapper">
  <div class="container features">
    <h3>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,
    </p>

    <ul class="features__list">
      <li class="features__list--item">
        <img src="./images/svg/mobile.svg" alt="images section features" /><span
          >Mobile Game Development</span
        ><img class="arrow" src="./images/svg/arrow.svg" alt="arrow" />
      </li>
      <li class="features__list--item">
        <img src="./images/svg/pc.svg" alt="images section features" /><span
          >PC Game Development</span
        ><img class="arrow" src="./images/svg/arrow.svg" alt="arrow" />
      </li>
      <li class="features__list--item">
        <img src="./images/svg/ps.svg" alt="images section features" /><span
          >PS4 Game Development</span
        ><img class="arrow" src="./images/svg/arrow.svg" alt="arrow" />
      </li>
      <li class="features__list--item">
        <img src="./images/svg/vr.svg" alt="images section features" /><span
          >AR/VR Solutions</span
        ><img class="arrow" src="./images/svg/arrow.svg" alt="arrow" />
      </li>
      <li class="features__list--item">
        <img src="./images/svg/ar.svg" alt="images section features" /><span
          >AR/ VR design</span
        ><img class="arrow" src="./images/svg/arrow.svg" alt="arrow" />
      </li>
      <li class="features__list--item">
        <img src="./images/svg/3d.svg" alt="images section features" /><span
          >3D Modelings</span
        ><img class="arrow" src="./images/svg/arrow.svg" alt="arrow" />
      </li>
    </ul>
  </div>
</section>
