<section class="info container">
  <h2 class="info--title">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </h2>
  <div class="info__text">
    <h3>Lorem Ipsum</h3>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,
    </p>
  </div>

  <img width="100%" src="./images/spider.png" alt="spider" />

  <div class="points">
    <img src="./images/svg/points.svg" alt="points" />
  </div>
</section>
