<section class="container projects">
  <h3>Our Recent Projects</h3>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>

  <ul class="projects__list">
    <li>
      <img src="./images/project1.png" alt="projects" />
    </li>
    <li>
      <img src="./images/project2.png" alt="projects" />
    </li>
    <li>
      <img src="./images/project3.png" alt="projects" />
    </li>
    <li>
      <img src="./images/project4.png" alt="projects" />
    </li>
    <li>
      <img src="./images/project5.png" alt="projects" />
    </li>
    <li>
      <img src="./images/project6.png" alt="projects" />
    </li>
  </ul>

  <button class="btn">SEE ALL</button>
</section>
