<section class="trending container">
  <div class="trending--container">
    <div class="trending__info">
      <h3>Currently Trending Games</h3>
      <button class="btn">SEE ALL</button>
    </div>
    <ul class="trending__list">
      <li>
        <a class="trending__list--link" href="#"
          ><img src="./images/game1.png" alt="game 1" />
          <span
            ><img src="./images/svg/fire.svg" alt="fire" />40 Followers</span
          ></a
        >
      </li>
      <li>
        <a class="trending__list--link" href="#"
          ><img src="./images/game2.png" alt="game 2" />
          <span
            ><img src="./images/svg/fire.svg" alt="fire" />40 Followers</span
          ></a
        >
      </li>
      <li>
        <a class="trending__list--link" href="#"
          ><img src="./images/game3.png" alt="game 3" />
          <span
            ><img src="./images/svg/fire.svg" alt="fire" />40 Followers</span
          ></a
        >
      </li>
      <li>
        <a class="trending__list--link" href="#"
          ><img src="./images/game4.png" alt="game 4" />
          <span
            ><img src="./images/svg/fire.svg" alt="fire" />40 Followers</span
          ></a
        >
      </li>
    </ul>
  </div>
</section>
