.email {
    padding-bottom: 120px;

    &>h3 {
        font-weight: var(--semibold);
        font-size: 30px;
        margin-bottom: 30px;
    }

    &>p {
        width: 545px;
        font-weight: var(--regular);
        font-size: 16px;
        margin-bottom: 60px;
    }
}

.block {
    background: #1C140F;
    border-radius: 10px;
    padding: 40px 3%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block__text {
    &>h4 {
        margin-top: 0;
        font-weight: var(--medium);
        font-size: 30px;
    }

    &>p {
        width: 630px;
        font-weight: var(--regular);
        font-size: 17px;
    }
}

.form {
    position: relative;

    &>input {
        outline: none;

        width: 500px;
        height: 48px;
        padding-left: 20px;
        padding-right: 150px;

        border: 0;
        border-radius: 10px;

        &::placeholder {
            color: #898989;
        }
    }
}